.Rproj.user
.Rhistory
.RData
.Ruserdata
taxonomy.tsv
asvs_pheatmap.tsv
.DS_Store
manuscript.docx
data_s1.tsv
contact.rtf
manuscript_comm.docx
metabolisms.txt
metabolisms.xlsx
ml_tree.Rmd
samples_connectivity.xlsx
seqtab.tsv
sequences.tsv
smd.tsv
supplement.docx
figures
amplicons.Rmd
