.Rproj.user
.Rhistory
.RData
.Ruserdata
taxonomy.tsv
asvs_pheatmap.tsv
.DS_Store
manuscript.docx
contact.rtf
manuscript_comm.docx
metabolisms.txt
metabolisms.xlsx
ml_tree.Rmd
samples_connectivity.xlsx
seqtab.tsv
sequences.tsv
smd.tsv
supplement.docx
figures
chemistry_aspo.txt
comments.docx
data
data_s1.tsv
manuscript_rev.docx
supplement_rev.docx
21-1559-CommsBio_AIP_table_1637665530_67.docx
CommsBio-file-checklist-revision.pdf
Cover_letter.docx
MAGs.docx
baltic.tsv
chemistry.txt
fig
manuscript_annotated.docx
manuscript_revised.docx
metadata_sediment.xlsx
n.asvs.tsv
n.asvs.xlsx
nr-editorial-policy-checklist.pdf
nr-reporting-summary.pdf
rebuttal.docx
supplement.pdf
supplement_revised.docx
